.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App{
  display: flex;
  padding: 3rem;
}

#inputs-section input,textarea{
  width:100%;
  height:1rem;
  font-size: 2rem;
  color: black;
  padding: 2rem;

}
#buttons button{
  width:100%;
  background-color: #EEA47FFF;
  color: #00539CFF;
}
#buttons{
  width: 20%;
}

#inputs-section{
  width:60%;
  height:50%;
  margin:4rem;
  border: 1px solid #00005f;
  background-color: #EEA47FFF;
  padding: 2rem;
}

#navButtons input{
  width:50%;
  height:4rem;
  font-size: 2rem;
  color: #00005f;
  padding: 0.2rem;
  text-align: center;
  margin:0 1rem 0 1rem;
}

#buttons button{
  border: 1 px solid #00005f;
  color: #00005f;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.75rem;
  font-size: 2rem;
  margin: 1.2rem; 
  width: 100%;
}

label{
  font-size:2rem;
  text-transform: uppercase;
  color: #00539CFF;
}

#inputs-section label{
  text-align: left;
}